@model HoliDayRental.Models.BienLastFive;


    <div class="item active">
    <div class="row">
        <div class="col-lg-4"><img src="/images/properties/1.jpg" class="img-responsive" alt="properties" /></div>
        <div class="col-lg-8">
            <h5><a href="#">Integer sed porta quam</a></h5>
            <p class="price">€25</p>
            <a href="#" class="more">Plus d'infos...</a>
        </div>
    </div>
    </div>

    <div class="item">
        <div class="row">
            <div class="col-lg-4"><img src="/images/properties/2.jpg" class="img-responsive" alt="properties" /></div>
            <div class="col-lg-8">
                <h5><a href="#">Integer sed porta quam</a></h5>
                <p class="price">€25</p>
                <a href="#" class="more">Plus d'infos...</a>
            </div>
        </div>
    </div>

