<!-- Modal -->
<div id="loginpop" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col-sm-6 login">
                    <h4>Login</h4>
                    <form class="" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail2">E-mail</label>
                            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jhon@example.com">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputPassword2">Mot de passe</label>
                            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Mot de passe">
                        </div>
                        <button type="submit" class="btn btn-success">Connexion</button>
                    </form>
                </div>
                <div class="col-sm-6">
                    <h4>Nouvel utilisateur?</h4>
                    <p>Rejoignez nous maintenant et profitez des propriétés de nos membres.</p>
                    <button type="submit" class="btn btn-info" onclick="window.location.href='./Account/Register'">s'enregistrer</button>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- /.modal -->