<!-- Modal -->

<div id="loginpop" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col-sm-12 login">
                    <h4>Enregistrez-vous</h4>
                    <form class="" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputNom">Nom</label>
                            <input type="text" class="form-control" id="exampleInputNom" placeholder="Smith">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputPrenom">Prenom</label>
                            <input type="text" class="form-control" id="exampleInputPrenom" placeholder="Jhon">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail2">E-mail</label>
                            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jhon@example.com">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputTel">Téléphone</label>
                            <input type="text" class="form-control" id="exampleInputTel" placeholder="555-563698">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputPassword2">Mot de passe</label>
                            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Mot de passe">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputPassword2">Répétez le Mot de passe</label>
                            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Répétez le Mot de passe">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> J'accepte les <a href="./Home/conditions">condition générale du site</a>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-success">Connexion</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->